<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factory</title>
    <script src="js/angular.min.js"></script>
    <script src="js/factory_script.js"></script>
</head>
<body ng-app="myApp">
<div id="container" ng-controller="factoryController">
    <h3>Factory Controller : </h3>
    <input type="text" ng-init="var1=10" ng-model="var1">
    <input type="text" ng-init="var2=20" ng-model="var2">
    <h3>sum : {{result}}</h3>
    <button ng-click="doSum()">Add</button>
</div>
<div id="container1" ng-controller="serviceController">
    <h3>Service Controller : </h3>
    <input type="text" ng-init="var1=10" ng-model="var1">
    <input type="text" ng-init="var2=20" ng-model="var2">
    <h3>sum : {{result}}</h3>
    <button ng-click="doSum()">Add</button>
</div>
<!--<div id="container2" ng-controller="providerController">
    <h3>Provider Controller : </h3>
    <h3>Username : {{user}}</h3>
    <h3>Contact Number : {{contact}}</h3>
</div>-->
</body>
</html>